  <footer>
    <div class="sizewrapper">
      <div class="footerInner">
        <span>♻</span> &copy; 2022 - <%= new Date().getFullYear();%> Powered by <a href="https://codump.github.io/" target="_new">Codump.</a> | Cheers and enjoy re-using codes! <span>♻</span>
      </div>
    </div>
  </footer>
  <div id="overlay" class="closeModal" data-closemodal="true">
    <div id="modal">
      <div class="closeModal" data-closemodal="true">&times;</div>
    </div>
  </div>
</body>
</html>