<div class="hero">
  <div class="sizewrapper heroInner">
    <div class="ghBtns">
      <center><a class="github-button" href="https://github.com/codump/basic-express-ejs-with-api" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" aria-label="Use this GitHub Action codump/basic-express-ejs-with-api on GitHub">View code on GitHub</a>
      <a class="github-button" href="https://github.com/codump" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @codump on GitHub">Follow @codump</a>
      <!-- Resolution: <span id="resolution"></span> --></center>
    </div>
    <center><h1>A basic and secure web app for your <a href="https://nodejs.org/" target="_new">Node.js</a> projects.</h1>
    <h2>Featuring: <span id="featured" class="typewrite" data-period="4000" data-type='[{"text1": "Express", "link1": "https://expressjs.com/", "text2": "EJS", "link2": "https://ejs.co/"}, {"text1": "Helmet", "link1": "https://helmetjs.github.io/","text2": "express-rate-limit", "link2": "https://www.npmjs.com/package/express-rate-limit"}, {"text1": "express-validator", "link1": "https://express-validator.github.io/", "text2": "express-xss-sanitizer", "link2": "https://www.npmjs.com/package/express-xss-sanitizer"}, {"text1": "jsonwebtoken", "link1": "https://www.npmjs.com/package/jsonwebtoken", "text2": "express-jwt", "link2": "https://www.npmjs.com/package/express-jwt"} ]'></span></h2>
    </center><!-- BIG trololol -->
  </div>
</div>